@import com.depth1.grc.model.RiskRegister 
@(rRForm:Form[RiskRegister]) 
@import helper._ 
@main("Create RR") {

<section class=wrapper>
	<h1>Risk Register</h1>
	@helper.form(action =
	com.depth1.grc.controllers.routes.Application.addRiskRegister(), 'id
	-> "rRForm") {
	<fieldset>
		<legend> Create Risk Register</legend>
		@helper.inputText(field = rRForm("Tenant ID"), args = 'size -> 10)
		@helper.inputText(field = rRForm("Risk ID"), args = 'size -> 10, 'placeholder -> "Must be unique")
		@helper.inputText(field = rRForm("Risk Name"), args = 'size -> 10)
		@helper.inputText(field = rRForm("Risk Owner"), args = 'size -> 10)
		@helper.inputRadioGroup(
    		rRForm("risk status"),
    		options = Seq("A"->"Active","IA"->"Inactive"),
    		'_label -> "Risk Status"
    		)
		@helper.select(
   		rRForm("reporting level"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Risk Reporting Level", '_default -> "-- Select level --"
		)
		
		@helper.select(
   		rRForm("reporting level"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Risk Reporting Level", '_default -> "-- Select level --"
		)
		
		@helper.textarea(field = rRForm("Risk Description"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("Impact Description"), args = 'rows -> 3, 'cols -> 50)
		@helper.inputDate(field= rRForm("Impact Date"))
		@helper.inputRadioGroup(
    		rRForm("risk probability"),
    		options = Seq("H"->"High","M"->"Medium", "L"->"Low"),
    		'_label -> "Risk Probability"
    		)
		@helper.inputRadioGroup(
    		rRForm("risk priority"),
    		options = Seq("H"->"High","M"->"Medium", "L"->"Low"),
    		'_label -> "Risk Priority"
    		)
    	
    	@helper.textarea(field = rRForm("Resolution Mitigation"), args = 'rows -> 3, 'cols -> 50)
    	
    	@helper.inputDate(field= rRForm("Target Resolution Date"))
    	@helper.inputDate(field= rRForm("Actual Resolution Date"))
    	
    	@helper.select(
   		rRForm("response type"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Risk Response Type", '_default -> "-- Select type --"
		)
		
		@helper.textarea(field = rRForm("Associated Risk"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("Associated Issue"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("Risk Assumptions"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("Risk Symptoms"), args = 'rows -> 3, 'cols -> 50)
    	
	</fieldset>
	<button type="submit" name="action" value="edit">Submit</button>
	}
	<form action=/riskRegister />
	<input type="submit"
		style="position: relative; left: 100px; bottom : 26px;" value="Cancel">
	</form>
</section>
	
	
}