@(rRForm:Form[com.depth1.grc.model.Register]) 

@import helper._ 
@import com.depth1.grc.model.Register
@import com.depth1.grc.controllers.routes

@main("Create Risk Register") {

<section class=wrapper>
	<h1>Risk Register</h1>
	@helper.form(action = routes.Application.addRisk(), 'id
	-> "rRForm") {
	<fieldset>
		<legend> Create Risk Register</legend>
		@helper.inputText(field = rRForm("name"), args = 'size -> 10)
		@helper.inputText(field = rRForm("owner"), args = 'size -> 10)
		@helper.inputRadioGroup(
    		rRForm("status"),
    		options = Seq("A"->"Active","IA"->"Inactive"),
    		'_label -> "Risk Status"
    		)
		@helper.select(
   		rRForm("category_rating"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Category Rating", '_default -> "-- Select level --"
		)
		
		@helper.select(
   		rRForm("reporting_level"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Risk Reporting Level", '_default -> "-- Select level --"
		)
		
		@helper.textarea(field = rRForm("description"), args = 'rows -> 3, 'cols -> 50)
		@helper.inputDate(field= rRForm("target_resolution_date"))
		@helper.textarea(field = rRForm("impact_description"), args = 'rows -> 3, 'cols -> 50)
		@helper.inputRadioGroup(
    		rRForm("probability"),
    		options = Seq("H"->"High","M"->"Medium", "L"->"Low"),
    		'_label -> "Risk Probability"
    		)
		@helper.inputRadioGroup(
    		rRForm("priority"),
    		options = Seq("H"->"High","M"->"Medium", "L"->"Low"),
    		'_label -> "Risk Priority"
    		)
    	@helper.inputText(field = rRForm("impact"), args = 'size -> 10)
    	@helper.inputText(field= rRForm("score"))
    	@helper.textarea(field = rRForm("resolution"), args = 'rows -> 3, 'cols -> 50)
    	
    	@helper.select(
   		rRForm("response_type"),
   		options(Seq("A","B","C","D")),
   		'_label -> "Risk Response Type", '_default -> "-- Select type --"
		)
		
		@helper.inputText(field = rRForm("associated_risk"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("associated_issue"), args = 'rows -> 3, 'cols -> 50)
		@helper.inputText(field= rRForm("risk_creator"), args= 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("assumption"), args = 'rows -> 3, 'cols -> 50)
		@helper.textarea(field = rRForm("symptom"), args = 'rows -> 3, 'cols -> 50)
    	

	<button type="submit" name="action" value="edit">Submit</button>

	<input type="submit"
		style="position: relative; left: 100px; bottom : 26px;" value="Cancel">
}	
</section>
}
