@import com.depth1.grc.model.Policy 
@(policyForm:Form[Policy]) 
@import helper._ 
@import play.api.data.Forms._
@main("Create Policy") {
	<script src="@routes.Assets.versioned("javascripts/tinymce.min.js")"></script>
	<script>
	    tinymce.init({
	    selector: "#policybody",
	    theme: "modern",
	    plugins: [
	        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	        "searchreplace wordcount visualblocks visualchars code fullscreen",
	        "insertdatetime media nonbreaking save table contextmenu directionality",
	        "emoticons template paste textcolor colorpicker textpattern imagetools"
	    ],
	    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	    toolbar2: "print preview media | forecolor backcolor emoticons",
	    image_advtab: true,
	    templates: [
	        {title: 'Test template 1', content: 'Test 1'},
	        {title: 'Test template 2', content: 'Test 2'}
	    ]
		});	
		
		function HandleBrowseClick() {
			document.getElementById("browse").click();
		}
		
		function HandleChange() {
			var fileinput = document.getElementById("browse");
    		var textinput = document.getElementById("filename");
    		textinput.value = fileinput.value;  
     		fileinput.addEventListener("change", function(event){
     			event.stopPropagation();    
         		var reader = new FileReader();        
         		reader.onload = function(event){
         			event.stopPropagation();
             		//var contents = event.target.result;
             		var contents = tinyMCE.activeEditor.getContent();
               		document.getElementById('policybody').value = contents;            
         		};        
         		reader.onerror = function(event){
            		console.error("File could not be read! Code " + event.target.error.code);
         		};        
         		console.log("Filename: " + fileinput.files[0].name);
         		reader.readAsText(fileinput.files[0]);        
     		}, false);
		}
	</script>
<section class=wrapper>
	<h1>Policy</h1>
	@helper.form(action = com.depth1.grc.controllers.routes.Application.createPolicy(), 'id -> "policyForm") {
	<legend> Create Policy</legend>
	<section style="width: 25%; float:left; display:block;">
		<fieldset>
			@helper.inputText(policyForm("name"), '_label -> "Policy name")
			@helper.inputText(policyForm("version"), '_label -> "Version")
			@helper.textarea(policyForm("description"), '_label -> "Policy Description") 
			@helper.inputText(policyForm("author"), '_label ->"Author") 
			@helper.inputText(policyForm("format"), '_label ->"Format") 
			@helper.inputText(policyForm("language"), '_label ->"Language") 
			@helper.inputText(policyForm("subject"), '_label ->"Subject") 
			@helper.inputText(policyForm("source"), '_label ->"Source") 
			@helper.inputText(policyForm("sunsetDateString"), '_label ->"Sunset Date (Policy validity date)") 
			@helper.inputText(policyForm("category"), '_label -> "Category")
			@helper.inputText(policyForm("classification"), '_label -> "Classification")
			@helper.inputText(policyForm("reference"), '_label -> "Reference")
			@helper.textarea(policyForm("legalRequirement"), '_label -> "Legal Requirement")
			@helper.inputText(policyForm("regulatory"), '_label -> "Regulatory")
			@helper.inputText(policyForm("approver"), '_label -> "Approver")
			@helper.inputText(policyForm("producingFunction"), '_label -> "Producing Function")
			@helper.inputText(policyForm("complianceCategory;"), '_label -> "Compliance Category")
			@helper.inputText(policyForm("owner"), '_label -> "Owner")
			@helper.inputText(policyForm("documentContact"), '_label -> "Document Contact")
			@helper.inputText(policyForm("functionalApplicability"), '_label -> "Functional Applicability")
			@helper.inputText(policyForm("geographicApplicability;"), '_label -> "Geographic Applicability")
			@helper.inputText(policyForm("effectiveDateString"), '_label -> "Effective Date")
			@helper.inputText(policyForm("issueDateString"), '_label -> "Issue Date")
			@helper.inputText(policyForm("lastReviewDateString"), '_label -> "Last Review Date")
			@helper.inputText(policyForm("nextReviewDateString"), '_label -> "Next Review Date")
		</fieldset>
	</section>
	<section style="display:inline-block; float:left; margin:30px; width:65%;">
		<input type="file" id="browse" name="fileupload" style="display: none" onchange="HandleChange();"/>
		<input type="text" id="filename" readonly="true"/>
		<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick();"/>
		@helper.textarea(policyForm("policybody"), 'rows -> 50)
		<input type="submit" name="action" value="Submit">
	</section>
	}
	<section style="display:inline-block; float:left; margin:30px; width:65%;">
		<form action=/policy />
			<input type="submit" value="Cancel">
		</form>
	</section>
</section>
}
