
         <!-- Footer -->

         <script language="javascript" type="text/javascript" src="/assets/javascripts/jquery-2.1.4.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/jquery-ui/jquery-ui.min.js"></script>
         
         <script language="javascript" type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/CreateRA.js"></script>                 
  		 <script language="javascript" type="text/javascript" src="/assets/javascripts/searchTenantIds.js"></script>
  		 <script language="javascript" type="text/javascript" src="/assets/javascripts/createUserProfile.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/angular.min.js"></script>                
         <script language="javascript" type="text/javascript" src="/assets/javascripts/raList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/policy.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/policyList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/tenantList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/userprofileList.js"></script>
          	 
      </body>
   </html>


