         <!-- Footer -->
         <footer>
            <div class="footer-style">
               <center class="footer-website"> <strong>Company Name/Logo</strong></center>
               <center class="footer-website">
                  <a class="blue-link" href="#">User Agreement</a> | 
                  <a class="blue-link" href="#">Privacy Policy</a> |
                  <a class="blue-link" href="#">User Policy</a>
               </center>
            </div>
         </footer>
         
         <script language="javascript" type="text/javascript" src="/assets/javascripts/jquery-2.1.4.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/angular.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/raList.js"></script>
      </body>
   </html>