
         <!-- Footer -->

        
         <script language="javascript" type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/CreateRA.js"></script>                 
  		 <script language="javascript" type="text/javascript" src="/assets/javascripts/searchTenantIds.js"></script>
  		 <script language="javascript" type="text/javascript" src="/assets/javascripts/createUserProfile.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/angular.min.js"></script>                
         <script language="javascript" type="text/javascript" src="/assets/javascripts/raList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/policy.js"></script>

         <script language="javascript" type="text/javascript" src="/assets/javascripts/tenantList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/userprofileList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/procedureList.js"></script>
         <script language="javascript" type="text/javascript" src="/assets/javascripts/CreateProcedure.js"></script>
          	 
      </body>
   </html>


