@import com.depth1.grc.model.RiskAssessment
@(riskAssessments:List[RiskAssessment], rASize:Integer)

@header()

       <ol class="breadcrumb">
           <li><a class="blue-link" href="#">Home</a></li>
           <li><a class="blue-link" href="#">Enterprise</a></li>
           <li><a class="blue-link" href="#">Operation Risk</a></li>
           <li><a class="blue-link" href="/riskAssessment/1/4/descendingRisk">Risk Assessment</a></li>
        </ol>
        
        <center>
           <h1> Risk Assessment</h1>
           <h6> Front Page</h6>
           <br>
           <br>
           <br>
        </center>
        <div class="margin-50">
        	
        		<div class="float-box">
        			<input type="search" id="raListSearchText" onsearch="raListSearch()" value="Search Risk">
        		</div>
        	
        	
        	
	        <div >
	           <div class="raTableView">
	              <p> <a class="blue-link" href="/riskAssessment/1/4/descendingRisk"> View 4</a> |
	              <a class="blue-link" href="/riskAssessment/1/25/descendingRisk"> View 25</a> | 
	              <a class="blue-link" href="/riskAssessment/1/50/descendingRisk"> View 50</a> </p>
	           </div>
	        </div>
	        <br>
	        <div>
	           
	           <table id="raTable">
	              <thead>
	                <tr>
	                   <th id="raTableCol1" onclick="raListSort('risk')">Risk</th>
	        		   <th id="raTableCol2" onclick="raListSort('likelihood')">Likelihood</span></th>
					   <th id="raTableCol3" onclick="raListSort('severity')">Severity</th>
					   <th id="raTableCol4" onclick="raListSort('consequence')">Consequence</th>
	                </tr>
	              </thead>
	              <tbody>
	              	 
	                 @for(RiskAssessment <- riskAssessments) {
				     <tr >
					    <td>@RiskAssessment.getRisk</td>
					    <td class="raTableRowCenter">@RiskAssessment.getLikelihood</td>
					    <td class="raTableRowCenter">@RiskAssessment.getSeverity</td>
					    <td>@RiskAssessment.getConsequence</td>
				    </tr>
				    }
	              </tbody>
	           </table>
	        </div>
        </div>
        <center>
           <div id="paginationArray">
           </div>
        </center>
        <br>
        <br>
        <br>
        <center>
           <table>
              <tr>
                 <td>
	                <FORM ACTION=/riskAssessment/create>
		               <INPUT TYPE="submit" class="raList-Button" VALUE="Create">
		            </FORM>
		         </td>
	             <td>
	                <FORM ACTION=/riskAssessment/view>
			           <INPUT TYPE="submit" class="raList-Button" value="View">
	                </FORM>
	             </td>
	             <td>
	             <INPUT TYPE="button" class = "raList-Button" value = "Delete" onclick="deleteRA()"/>
	             </td>
	             <td>
	                <FORM ACTION=/riskAssessment/update>
			           <INPUT TYPE="submit" class="raList-Button" value="Update">
	                </FORM>
	             </td>
	          </tr>
           </table>
        </center>
        <br>
        <br>
        <br>
        <script>
           var rAFrontListSize = @rASize;
           
        </script> 

@footer()