@import com.depth1.grc.model.Register
@(registers:List[Register])

@main("Front page of the risk") {


<section class="wrapper">
	<h1>Risk Register Page</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Risk Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@for(Register <- registers) {
			<tr>

				<td><a
					href="com.depth1.grc.controllers.routes.Application.listRegister()">
						@Register.getname</a></td>
				<td><a
					href="com.depth1.grc.controllers.routes.Application.listRegister()">
						@Register.getdescription</a></td>
						
				<td><FORM ACTION=/register/view />
	<INPUT TYPE="submit"
		style="position: relative;  height: 30px; width: 100px;"
		VALUE="View">
	</FORM></td>

	<td><FORM ACTION=/register/update />
	<INPUT TYPE="submit"
		style="position: relative;  height: 30px; width: 100px;"
		VALUE="Update">
	</FORM></td>
			</tr>
			}
		</tbody>

	</table>
</section>
<section class=centered>
	<!--the buttons, using just html forms-->
	<FORM ACTION="/"/>
	<INPUT TYPE="submit"
		style="position: relative; bottom: -150px; left: 200px; height: 50px; width: 100px;"
		VALUE="Home">
	</FORM>
	<FORM ACTION=/register/create />
	<INPUT TYPE="submit"
		style="position: relative; bottom: -100px; left: 370px; height: 50px; width: 100px;"
		VALUE="Create">
	</FORM>

	
}
</section>
