@import com.depth1.grc.model.RiskRegister
@(riskRegisters:List[RiskRegister], rRSize:Integer)

@header()

        <ol class="breadcrumb">
           <li><a class="blue-link" href="#">Home</a></li>
           <li><a class="blue-link" href="#">Enterprise</a></li>
           <li><a class="blue-link" href="#">Operation Risk</a></li>
           <li>Risk Register</li>
        </ol>
        
        <center>
           <h1> Risk Register</h1>
           
           <br>
           <br>
           <br>
        </center>
        <div class="margin-50">
        	
        		<div class="float-box">
        			<input type="search" id="raListSearchText" onsearch="raListSearch()" value="Search Risk">
        		</div>
        	
        	
        	
	        <div>
	          
	           <div class="rrTableView">
	              <p> <a class="blue-link" onclick="changeViewRR(10)"> View 10</a> |
	              <a class="blue-link" onclick="changeViewRR(25)"> View 25</a> | 
	              <a class="blue-link" onclick="changeViewRR(50)"> View 50</a> </p>
	           </div>
	            <p> <b>Instructions:</b> Please select a Risk Register and then View, Update, or Delete. </p>
	        </div>
	        <br>
	        
	        <div>
            <table id="rrTable">
                <thead>
                  <tr>
                    <th id="rrTableCol1" onclick="rrListSort('risk')">Risk</th>
                    <th id="rrTableCol2" onclick="rrListSort('riskId')">Risk ID</span></th>
                    <th id="rrTableCol3" onclick="rrListSort('description')">Description</th>
                    <th id="rrTableCol4" onclick="rrListSort('riskOwner')">Risk Owner</th>
                    <th id="rrTableCol5" onclick="rrListSort('dateCreated')">Date Created</th>
                    <th id="rrTableCol6" onclick="rrListSort('targetResolutionDate')">Target Resolution Date</th>
                    <th id="rrTableCol7" onclick="rrListSort('impactDate')">Impact Date</th>
                    <th id="rrTableCol8" onclick="rrListSort('riskStatus')">Risk Status</th>
                  </tr>
                </thead>
                <tbody>

                  @for(RiskRegister <- riskRegisters) {
                  <tr>
                    <td>@RiskRegister.getName</td>
                    <td>@RiskRegister.getRiskId</td>
                    <td></td>
                    <td>@RiskRegister.getOwner</td>
                    <td class="tableRowCenter"></td>
                    <td class="tableRowCenter">@RiskRegister.</td>
                    <td class="tableRowCenter">@RiskRegister.getImpact_date</td>
                    <td class="tableRowCenter">@RiskRegister.getStatus</td>
                  </tr>
                  }

                </tbody>
            </table>
	        </div>
        </div>
        <center>
           <div id="paginationArray">
           </div>
        </center>
        <br>
        <br>
        <br>
        <center>
           <table>
              <tr>

                <td>
                  <FORM ACTION=/riskRegister/create>
                    <INPUT TYPE="submit" class="rrList-Button" VALUE="Create">
                  </FORM>
                </td>
                <td>
                  <FORM ACTION=/riskRegister/view>
                    <INPUT TYPE="submit" id="rrViewButton" class="rrList-Button" value="View" disabled>
                  </FORM>
                </td>
                <td>
                  <INPUT TYPE="button" id="rrDeleteButton" class="rrList-Button" value = "Delete" onclick="deleteRR()" disabled>
                </td>
                <td>
                  <FORM ACTION=/riskRegister/update>
                      <INPUT TYPE="submit" id="rrUpdateButton" class="rrList-Button" value="Update" disabled>
                  </FORM>
                </td>
                <td>
                  <FORM ACTION=/riskRegister/print>
                      <INPUT TYPE="submit" id="rrPrintButton" class="rrList-Button" value="Print" disabled>
                  </FORM>
                </td>

              </tr>
           </table>
        </center>
        <br>
        <br>
        <br>
        <!-- Needed script to get the total number of Tenants -->
        <script>
           var rRListSize = @rRSize;
        </script>
        

@footer()