@import com.depth1.grc.model.Register
@(registers:List[Register],view:Register)

@main("Front page of the risk") {
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type = "text/javascript" src="@routes.Assets.versioned("javascripts/frontRRScript.js")"></script>

</head>

<section class="wrapper">
	<h1>Risk Register Page</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Risk Id</th>
				<th>Risk Name</th>
				<th>Risk Owner</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@for(Register <- registers) {
			<tr>
				
				<td>@Register.getriskid</td> 
				<td>@Register.getname</td>
				<td>@Register.getowner</td>
				<td>@Register.getdescription</td>
				<td><FORM method="GET" ACTION=@com.depth1.grc.controllers.routes.Application.viewRRPage(Register.getid) />
	<INPUT TYPE="submit"
		style="position: relative;  height: 30px; width: 100px;"
		VALUE="View">
	</FORM></td>

	<td><FORM ACTION=/register/updater />
	<INPUT TYPE="submit"
		style="position: relative;  height: 30px; width: 100px;"
		VALUE="Update">
	</FORM></td>
			</tr>
			}
		</tbody>

	</table>
</section>
<section class=centered>
	<!--the buttons, using just html forms-->
	<FORM ACTION="/"/>
	<INPUT TYPE="submit"
		style="position: relative; bottom: -150px; left: 200px; height: 50px; width: 100px;"
		VALUE="Home">
	</FORM>
	
	<FORM ACTION=/register/create />
	<INPUT TYPE="submit"
		style="position: relative; bottom: -100px; left: 370px; height: 50px; width: 100px;"
		VALUE="Create">
	</FORM>
	
	
	
}
</section>
