<header class="header">
	<div class="header-children">
		<h1 class="logo" id="header-logo">
			<a href="/">Nebrhood</a>
		</h1>
		<nav class="main-nav">
			<ul>
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Policy</a></li>
				<li><a href="#">Enterprise Risk</a></li>
				<li><a href="#">Governance</a></li>
				<li><a href="#">Compliance</a></li>
				<li><a href="#">Navigation Option</a></li>
				<li><a href="#">Navigation Option</a></li>
			</ul>
		</nav>
		<nav class="search-settings">
			<ul>
				<li><input type="text" name="search" id="search-bar"
					placeholder="Search"></li>
				<li><a href="#" id="logout">Logout</a></li>
			</ul>
		</nav>
	</div>
</header>