@import com.depth1.grc.model.Policy 
@(policies:List[Policy])
@main("Policy") {

<script type='text/javascript'>
	function del(urlToDelete) {
		$.ajax({
			url : urlToDelete,
			type : 'DELETE',
			success : function(results) {
				// Refresh the page
				location.reload();
			}
		});
	}

	function selectRow(rowID){
		var children = document.getElementById("rows").childNodes;
		for(var i = 0; i < children.length; ++i) {
			//children[i].setAttribute("selected", "false");
			children[i].removeAttribute("class");
		}
		//document.getElementById(rowID).setAttribute("selected", "true");
		document.getElementById(rowID).setAttribute("class", "highlight");
	}

	
</script>

<style type='text/css'>

.table-striped tbody tr.highlight td { 
    background-color: red;
}

</style>

<section class="wrapper">
	<h1>Policy</h1>
	<legend> Front Page</legend>
	<section>
	<!--the buttons, using just html forms-->
	<span>
	<FORM ACTION=/policy/create />
	<INPUT TYPE="submit"
		style="display: inline; float:left; margin-right: 30px; height: 50px;  width: 100px;"
		VALUE="Create">
	</FORM>
	</span>
	<span>
	<FORM ACTION=/policy/view />
	<INPUT TYPE="submit"
		style="display: inline; float:left; margin-right: 30px; height: 50px; width: 100px;"
		value="View">
	</FORM>
	</span>
	<span>
	<FORM ACTION=/policy/update />
	<INPUT TYPE="submit"
		style="display: inline; float:left; margin-right: 30px; height: 50px; width: 100px;"
		value="Update">
	</FORM>
	</span>
	<span>
	<FORM ACTION=/policy/delete />
	<INPUT TYPE="submit"
		style="display: inline; float:left; margin-right: 30px; height: 50px; width: 100px;" value="Delete">
	</FORM>
	</span>
	
	<span>
	<FORM ACTION=/policy/restore />
	<INPUT TYPE="submit"
		style="display: inline; float:left; margin-right: 30px; height: 50px; width: 100px;" value="Restore">
	</FORM>
	</span>
	
	}
</section>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Policy Name</th>
				<th>Policy ID</th>
				<th>Version</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody id="rows">
			@for(policy <- policies) {
			<tr onclick="selectRow('@policy.getId()')" id="@policy.getId()">
				<td><a href="@com.depth1.grc.controllers.routes.Application.showViewPolicyPage(policy.getId())">@policy.getName()</a></td>
				<td><a href="@com.depth1.grc.controllers.routes.Application.showUpdatePolicyPage(policy.getId())">@policy.getPolicyId()</a></td>
				<td>@policy.getVersion()</td>
				<td><a href="@com.depth1.grc.controllers.routes.Application.showUpdatePolicyPage(policy.getId())">@policy.getLastUpdatedDate()</a></td>

					
			</tr>
			}
		</tbody>
	</table>
</section>
<section>
	<FORM ACTION="/" />
	<INPUT TYPE="submit"
		style="position: relative; top: 100px; bottom: 50px; left: 50px; height: 50px; width: 100px;"
		VALUE="Back">
	</FORM>
</section>
