@import com.depth1.grc.model.Policy 
@(policies:List[Policy], policySize:Integer)


@header()

		<center>
           	<h1> Policy </h1>
           	<br>
           	<br>
        </center>
		<div class="margin-50">
        	<div class="float-box">
        		<input type="search" id="policyListSearchText" onsearch="policyListSearch()" value="Search Policy">
        	</div>
        	
        	
        	
	        <div>
	        	<div class="raTableView">
	              	<p> <a class="blue-link" onclick="changeViewPolicy(10)"> View 10</a> |
	              	<a class="blue-link" onclick="changeViewPolicy(25)"> View 25</a> | 
	              	<a class="blue-link" onclick="changeViewPolicy(50)"> View 50</a> </p>
	          	</div>
	            <p> <b>Instructions:</b> Please select a Policy and then View, Update, or Delete. </p>
	        </div>
	        
	        
	        <div>
	           
	           	<table id="policyTable">
	           		<thead>
	                	<tr>
	                   		<th id="policyTableCol1" onclick="policyListSort('policyId')"> Policy Id</th>
	        		   		<th id="policyTableCol2" onclick="policyListSort('name')">Name</span></th>
					   		<th id="policyTableCol3" onclick="policyListSort('description')">Description</th>
					   		<th id="policyTableCol4" onclick="policyListSort('version')">Version</th>
					   		<th id="policyTableCol5" onclick="policyListSort('classification')">Classification</th>
	                	</tr>
	              	</thead>
	              	<tbody>
	              	 
	                 	@for(policy <- policies) {
				     	<tr id="@policy.getId">
					    	<td>@policy.getName</td>
					    	<td>@policy.getDescription</td>
					    	<td class="policyTableRowCenter">@policy.getVersion</td>
					    	<td class="policyTableRowCenter">@policy.getClassification</td>
				    	</tr>
				    	}
	              	</tbody>
	        	</table>
	    	</div>
        </div>
        <center>
           	<div id="policyPaginationArray">
           	</div>
        </center>
 		<br>
 		<br>
 		<br>
 		<center>
        	<table>
              	<tr>
              		<td>
                 		<INPUT TYPE="button" id="policyCreateButton" class="policyListButton" VALUE="Create" onclick="goToPolicyCreate()" >
                 	</td>
                 	<td>
                 		<INPUT TYPE="button" id="policyViewButton" class="policyListButton" VALUE="View" onclick="goToPolicyView()" disabled>
                 	</td>
                 	<td>
                 		<INPUT TYPE="button" id="policyUpdateButton" class="policyListButton" VALUE="Update" onclick="goToPolicyUpdate()" disabled>
                 	</td>
                 	<td>
                 		<INPUT TYPE="button" id="policyDeleteButton" class="policyListButton" VALUE="Delete" onclick="DeletePolicy()" >
                 	</td>
                </tr>
            </table>
        </center>
        <br>
        <br>    
		<script>
			var policyListSize = @policySize;
			var currentPolicyUUID = null;
		</script>
        <script language="javascript" type="text/javascript" src="/assets/javascripts/policyList.js"></script>
