@import com.depth1.grc.model.Policy 
@(policyForm:Form[Policy]) 
@import helper._ 
@main("Update Policy") {

<section class=wrapper>
	<h1>Policy</h1>
	@helper.form(action =
	com.depth1.grc.controllers.routes.Application.updatePolicy(), 'id
	-> "policyForm") {
	<fieldset>
		<legend> Update Policy</legend>
		@helper.inputText(policyForm("policyId"), '_label -> "UUID")
		@helper.inputText(policyForm("name"), '_label -> "Policy name")
		@helper.inputText(policyForm("version"), '_label -> "Version")
		@helper.textarea(policyForm("description"), '_label -> "Policy Description") 
		@helper.inputText(policyForm("author"), '_label ->"Author") 
		@helper.inputText(policyForm("format"), '_label ->"Format") 
		@helper.inputText(policyForm("language"), '_label ->"Language") 
		@helper.inputText(policyForm("subject"), '_label ->"Subject") 
		@helper.inputText(policyForm("source"), '_label ->"Source") 
		@helper.inputText(policyForm("sunsetDate"), '_label ->"Sunset Date (Policy validity date)") 
		@helper.inputText(policyForm("category"), '_label -> "Category")
		@helper.inputText(policyForm("classification"), '_label -> "Classification")
		@helper.inputText(policyForm("reference"), '_label -> "Reference")
		@helper.textarea(policyForm("legalRequirement"), '_label -> "Legal Requirement")
		@helper.textarea(policyForm("regulatory"), '_label -> "Regulatory")
		@helper.inputText(policyForm("approver"), '_label -> "Approver")
		@helper.inputText(policyForm("producingFunction"), '_label -> "Producing Function")
		@helper.inputText(policyForm("complianceCategory;"), '_label -> "Compliance Category")
		@helper.inputText(policyForm("owner"), '_label -> "Owner")
		@helper.inputText(policyForm("documentContact"), '_label -> "Document Contact")
		@helper.textarea(policyForm("functionalApplicability"), '_label -> "Functional Applicability")
		@helper.textarea(policyForm("geographicApplicability;"), '_label -> "Geographic Applicability")
		@helper.inputText(policyForm("effectiveDate"), '_label -> "Effective Date")
		@helper.inputText(policyForm("issueDate"), '_label -> "Issue Date")
	</fieldset>
	
	<form action=/policy/createBody />
	<label>Click here to Edit Policy Document before Submit </label>
	<input type="button" name="action" value="Edit Policy Document Body" style="position: relative; left:30px; "></input>
	
	<button type="submit" name="action" value="edit" style="position: relative; top: 76px; left: 250px; bottom:50px;">Submit</button>
	}
	<form action=/policy />
	<input type="submit" style="position: relative; left: 50px; top : 50px; bottom:50px;" value="Cancel">
	</form>
</section>
} 
