@import com.depth1.grc.model.Policy 
@(selectedPolicy : Policy) 
@import helper._ 
@header()

	<script src="@routes.Assets.versioned("javascripts/tinymce.min.js")"></script>
	<script>
	    tinymce.init({
	    selector: "#policybody",
	    theme: "modern",
	    plugins: [
	        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	        "searchreplace wordcount visualblocks visualchars code fullscreen",
	        "insertdatetime media nonbreaking save table contextmenu directionality",
	        "emoticons template paste textcolor colorpicker textpattern imagetools"
	    ],
	    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	    toolbar2: "print preview media | forecolor backcolor emoticons",
	    image_advtab: true,
	    templates: [
	        {title: 'Test template 1', content: 'Test 1'},
	        {title: 'Test template 2', content: 'Test 2'}
	    ]
		});	
		
	</script>
	
		<h1 class="position-policy">Policy</h1>
		
		<h4 class="position-update">Update Policy</h4>
        
        <form id="policyForm" action="/policy/update/done" method="post">
           	<fieldset class="policy-position-fieldset-identification">
              	<h4 class="policy-identification"> Identification </h4>
        		
        		<div>
                	<label for="name" class="policy-policy-name" >Policy Name:</label>
                	<input type="text" id="name" name="name" class="policy-policy-name-text" value="@selectedPolicy.getName">
                 	<label for="version" class="policy-version" >Version:</label>
                 	<input type="text" id="version" name="version" class="policy-version-text" value="@selectedPolicy.getVersion" >
                 	<label for="author" class="policy-author" >Author:</label>
                 	<input type="text" id="author" name="author" class="policy-author-text" value="@selectedPolicy.getAuthor">
            	</div>	
        		<div>
        			<label for="description" class="policy-description" >Description:</label>
                 	<textarea form="policyForm" cols="103" rows="2" id="description" name="description" class="policy-description-text">@selectedPolicy.getDescription</textarea>
                </div>
                <div>
                	<label for="format" class="policy-format" >Format:</label>
                	<input type="text" id="format" name="format" class="policy-format-text" value="@selectedPolicy.getFormat">
                 	<label for="language" class="policy-language" >Language:</label>
                 	<input type="text" id="language" name="language" class="policy-language-text" value="@selectedPolicy.getLanguage">
                 	<label for="subject" class="policy-subject" >Subject:</label>
                 	<input type="text" id="subject" name="subject" class="policy-subject-text" value="@selectedPolicy.getSubject">
                </div>
                <div>
                	<label for="source" class="policy-source" >Source:</label>
                	<input type="text" id="source" name="source" class="policy-source-text" value="@selectedPolicy.getSource">
                 	<label for="category" class="policy-category" >Category:</label>
                 	<input type="text" id="category" name="category" class="policy-category-text" value="@selectedPolicy.getCategory">
                 	<label for="classification" class="policy-classification" >Classification:</label>
                 	<input type="text" id="classification" name="classification" class="policy-classification-text" value="@selectedPolicy.getClassification">
                </div>
                <div>
                	<label for="sunsetDate" class="policy-sunset-date" >Sunset Date:</label>
                	<input type="text" id="sunsetDate" name="sunsetDate" class="policy-sunset-date-text" value="@selectedPolicy.getSunsetDate">
                 	<label for="reference" class="policy-reference" >Reference:</label>
                 	<input type="text" id="reference" name="reference" class="policy-reference-text" value="@selectedPolicy.getReference">
                 	<label for="legalRequirement" class="policy-legal-requirement" >Legal Requirement:</label>
                 	<input type="text" id="legalRequirement" name="legalRequirement" class="policy-legal-requirement-text" value="@selectedPolicy.getLegalRequirement" >
                </div>
                <div>
                	<label for="complianceCategory" class="policy-compliance-category" >Compliance Category:</label>
                	<input type="text" id="complianceCategory" name="complianceCategory" class="policy-compliance-category-text" value="@selectedPolicy.getComplianceCategory">
                 	<label for="regulatory" class="policy-regulatory" >Regulatory:</label>
                 	<input type="text" id="regulatory" name="regulatory" class="policy-regulatory-text" value="@selectedPolicy.getRegulatory">
                 	<label for="producingFunction" class="policy-producing-function" >Producing Function:</label>
                 	<input type="text" id="producingFunction" name="producingFunction" class="policy-producing-function-text" value="@selectedPolicy.getProducingFunction">
                </div>
                <div>
                	<label for="approver" class="policy-approver" >Approver:</label>
                	<input type="text" id="approver" name="approver" class="policy-approver-text" value="@selectedPolicy.getApprover">
                 	<label for="owner" class="policy-owner" >Owner:</label>
                 	<input type="text" id="owner" name="owner" class="policy-owner-text" value="@selectedPolicy.getOwner">
                	<label for="documentContact" class="policy-document-contact" >Document Contact:</label>
                 	<input type="text" id="documentContact" name="documentContact" class="policy-document-contact-text" value="@selectedPolicy.getDocumentContact">
                </div>
                <div>
                	<label for="functionalApplicability" class="policy-functional-applicability" >Functional Applicability:</label>
                	<input type="text" id="functionalApplicability" name="functionalApplicability" class="policy-functional-applicability-text" value="@selectedPolicy.getFunctionalApplicability">
                 	<label for="geographicApplicability" class="policy-geographic-applicability" >Geographic Applicability:</label>
                 	<input type="text" id="geographicApplicability" name="geographicApplicability" class="policy-geographic-applicability-text" value="@selectedPolicy.getGeographicApplicability" >
                	<label for="effectiveDate" class="policy-effective-date" >Effective Date:</label>
                 	<input type="text" id="effectiveDate" name="effectiveDate" class="policy-effective-date-text" value="@selectedPolicy.getEffectiveDate">
                 	<label for="issueDate" class="policy-issue-date" >Issue Date:</label>
                 	<input type="text" id="originalIssueDate" name="originalIssueDate" class="policy-issue-date-text" value="@selectedPolicy.getOriginalIssueDate">
                </div>
        	</fieldset>
        	<br>
        	<br>
        	<fieldset class="policy-position-fieldset-policy-body">
              	<h4 class="policy-policy-body"> Policy Body </h4>
              	<br>
              	<br>
              	<input type="file" id="browse" name="fileupload" onchange="HandleChange();"/>
				<br>
				<input type="text" id="filename" readonly="true"/>
				<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick();"/>
				<br>
				<br>
				<textarea form="policyForm" cols="100" rows="50" id="policybody" name="policybody" ></textarea>
				<div>
					<br>
					<br>
					<center>
						<input type="submit" name="action" value="Submit">
					</center>
					
				</div>
            </fieldset>
       	</form>
    	