@import com.depth1.grc.model.RiskAssessment
@(selectedRA:RiskAssessment) 

<!-- Header -->
@header()

<!-- Main HTML -->

        <ol class="breadcrumb">
           <li><a class="blue-link" href="#">Home</a></li>
           <li><a class="blue-link" href="#">Enterprise</a></li>
           <li><a class="blue-link" href="#">Operation Risk</a></li>
           <li><a class="blue-link" href="/riskAssessment/1/4/descendingRisk">Risk Assessment</a></li>
           <li>Update</li>
        </ol>
        <center>
           <h1> Risk Assessment</h1>
           <h5>Update Assessment</h5>
           </br>
           </br>
           </br>
        </center>
        <center>
        <form id="raCreation" action="/riskAssessment/create/done" method="post">
           <fieldset class="fieldset-bordered">
              <h4 class="bordered-h5"> Identification </h4> 
                  
              <div>
                 <label for="tenantId" class="label-style" >Tenant ID:</label>
                 <input type="text" id="tenantId" name="tenantId" class="input-style"  value="@selectedRA.getTenantId">
                 
                 <label for="assessmentId" class="label-style" >Assessment ID:</label>
                 <input type="text" id="assessmentId" name="assessmentId" class="input-style" value="@selectedRA.getAssessmentId" >
                 <label for="vulnerability" class="label-style" >Vulnerability:</label>
                 <input type="text" id="vulnerability" name="vulnerability" class="input-style" value="@selectedRA.getVulnerability" >
              </div>
              <div>
                 <label for="speedOfOnset" class="label-style" >Speed of Onset:</label>
                 <input type="text" id="speedOfOnset" name="speedOfOnset" class="input-style" value="@selectedRA.getSpeedOfOnset" >
                 <label for="impact" class="label-style" >Impact:</label>
                 <input type="text" id="impact" name="impact" class="input-style" value="@selectedRA.getImpact">
              </div>
           </fieldset>
           </br>
           </br>
           <fieldset class="fieldset-bordered">
              <h4 class="bordered-h5"> Risk Posture </h4> 
              <div>
                 <label for="severity" class="label-style" >Severity:</label>
                 <input type="text" id="severity" name="severity" class="input-style" value="@selectedRA.getSeverity">
                 <label for="severityDescription" class="label-style" >Severity Description</label>
                 <!--<input type="text" id="severityDescription" name="severityDescription" class="input-style input-wide" > -->
                            
                 <textarea form="raCreation" cols="55" rows="2" id="severityDescription" name="severityDescription" class="textarea-adjust" value="@selectedRA.getSeverityDescription">
                 </textarea>
              </div>
              <div>
                 <label for="likelihood" class="label-style" >Likelihood:</label>
                 <input type="text" id="likelihood" name="likelihood" class="input-style" value="@selectedRA.getLikelihood">
                 <label for="likelihoodDescription" class="label-style" >Likelihood Description</label>
                 <textarea form="raCreation" cols="51" rows="2" id="likelihoodDescription" name="likelihoodDescription" class="textarea-adjust" value="@selectedRA.getLikelihoodDescription">
                 </textarea>
              </div>
              <div>
                 <label for="opportunity" class="label-style label-push-3" >Opportunity</label>
                 <textarea form="raCreation" cols="93" rows="2" id="opportunity" name="opportunity" class="textarea-adjust" value="@selectedRA.getOpportunity">
                 </textarea>
              </div>
              <div>
                 <label for="tiggerEvent" class="label-style label-push-3" >Tigger Event</label>
                 <textarea form="raCreation" cols="93" rows="2" id="tiggerEvent" name="tiggerEvent" class="textarea-adjust" value="@selectedRA.getTriggerEvent">
                 </textarea>
              </div>
              <div>
                 <label for="risk" class="label-style label-push-1" >Risk</label>
                 <textarea form="raCreation" cols="93" rows="2" id="risk" name="risk" class="textarea-adjust" value="@selectedRA.getRisk">
                 </textarea>
              </div>
              <div>
                 <label for="riskFactor" class="label-style label-push-2" >Risk Factor</label>
                 <textarea form="raCreation" cols="93" rows="2" id="riskFactor" name="riskFactor" class="textarea-adjust" value="@selectedRA.getRiskFactor">
                 </textarea>
              </div>
              <div>
                 <label for="consequence" class="label-style label-push-4" >Consequence</label>
                 <textarea form="raCreation" cols="93" rows="2" id="consequence" name="consequence" class="textarea-adjust" value="@selectedRA.getConsequence">
                 </textarea>
              </div>
           </fieldset>
           </br>
           </br>
           <fieldset class="fieldset-bordered">
              <h4 class="bordered-h5-2"> Business Assessment </h4> 
              <div>
                 <label for="financialImpactOfRisk" class="label-style" >Financial Impact of Risk:</label>
                 <input type="text" id="financialImpactOfRisk" name="financialImpactOfRisk" class="input-style" >
              </div>
           </fieldset>
           </br>
           </br>
           <fieldset class="fieldset-bordered">
              <h4 class="bordered-h5-2"> Technical Assessment </h4> 
              <div>
                 <label for="informationSystemSecurityRisk" class="label-style" >Information System Security Risk:</label>
                 <input type="text" id="informationSystemSecurityRisk" name="informationSystemSecurityRisk" class="input-style" >
              </div>
           </fieldset>
           </br>
           </br>
           <div>
              <button type="button" href="/riskAssessment/1/4/descendingRisk">Cancel</button>
              <button type="submit" class="button-spacer">Submit</button>
           </div>
        </form>
        </center>
        </br>
        </br>
        </br>

<!-- Footer -->
@footer()