@import com.depth1.grc.model.RiskAssessment
@(selectedRA:RiskAssessment) 
@import helper._ 

@main("View RA") {

	 <!-- header -->
@header()

<!-- main -->
 <main id="home-main" class="page-main">
 <section class="wrapper">
   <h1>Risk Assessment</h1>
   <legend> Update Risk Assessment</legend>
   
		Risk : <input type = "text" name = "risk" value="@selectedRA.getRisk" readonly><br>
		Severity : <input type = "text" name = "risk" value="@selectedRA.getSeverity" readonly><br>
		Severity Description : <textarea readonly>@selectedRA.getSeverityDescription</textarea><br>
		Likelihood : <input type = "text" name = "risk" value="@selectedRA.getLikelihood" readonly><br>
		Likelihood Description : <textarea readonly>@selectedRA.getLikelihoodDescription</textarea><br>
		Vulnerability : <input type = "text" name = "risk" value="@selectedRA.getVulnerability" readonly><br>
		Speed of Onset : <input type = "text" name = "risk" value="@selectedRA.getSpeedOfOnset" readonly><br>
		Impact : <input type = "text" name = "risk" value="@selectedRA.getImpact" readonly><br>
		Opportunity : <textarea readonly>@selectedRA.getOpportunity" </textarea><br>
		Trigger Event : <textarea readonly>@selectedRA.getTriggerEvent</textarea> <br>
		Risk Factor : <textarea readonly>@selectedRA.getRiskFactor</textarea> <br>
		Consequence : <textarea readonly>@selectedRA.getConsequence</textarea> <br>

	<FORM ACTION="/riskAssessment" />
	<INPUT TYPE="submit"
		VALUE="Back">
	</FORM>
	
</section>

<!-- end of main -->

<!-- footer -->
@footer()
}