@import com.depth1.grc.model.RiskAssessment
@(selectedRA:RiskAssessment) 
@import helper._
<!-- header -->
@header()

<!-- main html -->
       <ol class="breadcrumb">
           <li><a class="blue-link" href="/">Home</a></li>
           <li><a class="blue-link" href="#">Enterprise</a></li>
           <li><a class="blue-link" href="#">Operation Risk</a></li>
           <li><a class="blue-link" href="/riskAssessment/1/4/descendingRisk">Risk Assessment</a></li>
           <li>View </li>
        </ol>
        
        <center>
           <h1> Risk Assessment</h1>
           <br>
           <br>
           <br>
        </center>
        <center>
        <div class="raViewBox">
            <h4 class="raViewBoxTitle"> Identification and Risk Posture</h4>
	        <table id="raViewTable">
	           <tr>
	              <td class="raViewRow1"> <b>Tenant Id:</b></td>
	              <td class="raViewRow1"> @selectedRA.getTenantId</td>
	              <td class="raViewRow1"> <b>Vulnerability:</b></td>
	              <td class="raViewRow1"> @selectedRA.getVulnerability</td>
	              <td class="raViewRow1"> <b>Speed of Onset:</b></td>
	              <td class="raViewRow1"> @selectedRA.getSpeedOfOnset</td>
	              <td class="raViewRow1"> <b>Impact:</b></td>
	              <td class="raViewRow1"> @selectedRA.getImpact</td>
	           </tr>
	        </table>
	        <table id="raViewTable">
	           <tr>
	              <td class="raViewRow1"><b> Severity:</b> </td>
	              <td class="raViewRow1"> @selectedRA.getSeverity </td>
	              <td class="raViewRow2-1"><b>Severity Description:</b> </td>
	              <td class="raViewRow2-2"> @selectedRA.getSeverityDescription </td>
	           </tr>
	        </table> 
	        <table id="raViewTable">
	           <tr>
	              <td class="raViewRow1"><b> Likelihood:</b> </td>
	              <td class="raViewRow1"> @selectedRA.getLikelihood </td>
	              <td class="raViewRow2-1"><b>Likelihood Description:</b> </td>
	              <td class="raViewRow2-2"> @selectedRA.getLikelihoodDescription </td>
	           </tr>
	        </table> 
	        <table id="raViewTable">
	           <tr>
	              <td class="raViewRow1"><b> Opportunity:</b> </td>
	              <td class="raViewRow3"> @selectedRA.getOpportunity </td>
	           </tr>
	           <tr>
	              <td class="raViewRow1"><b> Trigger Event:</b> </td>
	              <td class="raViewRow3"> @selectedRA.getTriggerEvent </td>
	           </tr>
	           <tr>
	              <td class="raViewRow1"><b> Risk:</b> </td>
	              <td class="raViewRow3"> @selectedRA.getRisk </td>
	           </tr>
	           <tr>
	              <td class="raViewRow1"><b> Risk Factor:</b> </td>
	              <td class="raViewRow3"> @selectedRA.getRiskFactor </td>
	           </tr>
	           <tr>
	              <td class="raViewRow1"><b> Consequence:</b> </td>
	              <td class="raViewRow3"> @selectedRA.getConsequence </td>
	           </tr>
	        </table> 
	    </div>
	    </center>
<!-- footer -->
@footer()
