@import com.depth1.grc.model.Tenant
@(selectedTenant:Tenant)

@header()

	<center>
        <h1> Tenant </h1>
        <br>
        <br>
    	<br>
    </center>
   	<center>
        <div class="genericViewBox">
            <h4 class="genericViewBoxTitle"> Identification and Basic Information</h4>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow2" ><b> Tenant Id: </b></td>
					<td class="genericViewTableRow2"> @selectedTenant.getTenantId</td>
					<td class="genericViewTableRow2"> <b>Type:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getType</td>
				</tr>
				<tr>
					<td class="genericViewTableRow2"> <b>Creation Date:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getCreateDateString </td>
					<td class="genericViewTableRow2"> <b>Service Start Date:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getServiceStartDateString </td>
				</tr>
				<tr>
					<td class="genericViewTableRow2"> <b>Status:</b></td>
					<td class="genericViewTableRow2"> @selectedTenant.getStatus </td>
				</tr>
			</table>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow2"> <b>Name:</b></td>
					<td class="genericViewTableRow1"> @selectedTenant.getName</td>
				</tr>
				<tr>
					<td class="genericViewTableRow2"> <b>Street 1:</b></td>
					<td class="genericViewTableRow1"> @selectedTenant.getStreet1</td>
				</tr>
				<tr>
					<td class="genericViewTableRow2"> <b>Street 2:</b></td>
					<td class="genericViewTableRow1"> @selectedTenant.getStreet2</td>
				</tr>
			</table>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow2" ><b> State/Province: </b></td>
					<td class="genericViewTableRow2"> @selectedTenant.getState</td>
					<td class="genericViewTableRow2"> <b>Country:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getCountry</td>
				</tr>
				<tr>
					<td class="genericViewTableRow2" ><b> City: </b></td>
					<td class="genericViewTableRow2"> @selectedTenant.getCity</td>
					<td class="genericViewTableRow2"> <b>Zipcode:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getZipcode</td>
				</tr>
				<tr>
					<td class="genericViewTableRow2" ><b>Company URL: </b></td>
					<td class="genericViewTableRow2"> @selectedTenant.getCompanyUrl</td>
					<td class="genericViewTableRow2"> <b>IP Address:</b> </td>
					<td class="genericViewTableRow2"> @selectedTenant.getIpaddress</td>
				</tr>
			</table>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow3" ><b>Phone Numbers </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName5</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber5</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName6</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber6</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName7</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber7</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName8</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber8</td>
				</tr>
			</table>
		</div>
		<br>
		<div class="genericViewBox">
            <h4 class="genericViewBoxTitle"> Contact Information</h4>
            
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow2"> <b>Name:</b></td>
					<td class="genericViewTableRow1"> @selectedTenant.getContactPersonName</td>
				</tr>
			</table>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow2" ><b> Email:</b> </td>
					<td class="genericViewTableRow2">@selectedTenant.getContactPersonEmail </td>
					<td class="genericViewTableRow2">  </td>
					<td class="genericViewTableRow2"> </td>
				</tr>
			</table>
			<table id="genericViewTable">
				<tr>
					<td class="genericViewTableRow3" ><b>Phone Numbers </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName1</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber1</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName2</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber2</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName3</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber3</td>
				</tr>
				<tr>
					<td class="genericViewTableRow3" ><b> </b></td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneName4</td>
					<td class="genericViewTableRow3" >@selectedTenant.getPhoneNumber4</td>
				</tr>
			</table>
		</div>
		<br>
		<table>
	           		<tr>
	           			<td>
	           				<button type="button" class="genericButton" onclick="goToTenantList()">List</button>
	           			</td>
	           		</tr>
	    </table>
	    <br>
	    <br>
	    
	</center>

@footer()